
body {
  background-color: black !important;
}

@font-face {
  font-family: 'GameOfThrone';
  src: url('/fonts/game_of_thrones-webfont.woff2') format('woff2'),
  url('/fonts/game_of_thrones-webfont.woff') format('woff'),
  url('/fonts/game_of_thrones-webfont.svg#game_of_thronesregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.title {
  font-size: xx-large;
}

.sub-title {
  font-size: large;
}

.got {
  font-family: GameOfThrone;
}

.abel {
  font-family: Abel;
}

.white {
  color: white;
}

.season {
  color: #0D1F44;
  font-size: 100px;
}

.top {
  width: 100%;
  color: black;
  background-color: black;
  background-size: cover;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;

}

.top-lg {
  @media (min-width: 1200px) {
    min-height: 50vh;
  }
}

.top-md {
  @media (min-width: 992px) and (max-width: 1199px) {
    min-height: 50vh;
  }
}

.top-sm {

  @media (min-width: 768px) and (max-width: 991px) {
    min-height: 33vh;
  }
}

.top-xs {

  @media (max-width: 767px) {
    min-height: 33vh;
  }
}

.season-div {
  font-size: 50px;
  padding-top: 10vh !important;
}

.vcenter {
  padding: 1% 0;
  text-align: center;
}

#episodes div {
  margin: 5px 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  vertical-align: middle;
}

.right form {
  padding: 5% 0
}

.pointer {
  cursor: pointer;
}

.episodes-bold {
  font-size: x-large;
  font-weight: bold;
}

.top-title {
  background-color: rgba(89, 128, 185, 0.5);
  text-align: center;
  margin-top: 15vh;
}

.top-title p {
  opacity: 1;
}

.i-like {
  border: 2px solid white;
  padding: 10px;
  border-radius: 100%;
  font-size: 25px;

}

p {
  margin-bottom: 5px !important;
}

.refresh-div {
  padding-top: 1%;
  padding-right: 1%;
  float: right;
}

.lang-div {
  padding-top: 1%;
  padding-left: 1%;
  float: left;
  color: white;
  font-size: x-large;
}

.lang-div a {
  color: white;
}

.selected-lang {
  text-decoration: underline;
}

.refresh-glyph {
  font-size: x-large;
  color: white;
  font-weight: bold;
}