
<div class="top top-lg top-md top-sm top-xs ">
    <div class="lang-div">
        <p>
        <a href="/?lang=fr"
            {{#ifCond lang "fr" }}
                class="selected-lang"
            {{/ifCond}}
        >fr</a>
        |
        <a href="/?lang=en"
            {{#ifCond lang "en"}}
                class="selected-lang"
            {{/ifCond }}
        >en</a>
        </p>
    </div>
    <div class="refresh-div">
        <a href="/?lang={{lang}}" ><i class="glyphicon glyphicon-refresh refresh-glyph"></i></a>
    </div>
    <div class="top-title col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" >
        <p class="got title">{{title}}</p>
        <p class="abel">{{{__ "BEST_EPISODES"}}}</p>
    </div>
</div>

<div>
    <div class="col-md-6 got white season-div vcenter" >
        <p class="col-lg-12 col-md-6">
            {{{__ "SEASON"}}}
        </p>
        <p class="col-lg-12 col-md-6 season">6</p>
    </div>
    <div id="episodes" class="col-lg-6 col-md-12 white abel" ></div>
</div>

<input type="hidden" id="lang" value="{{lang}}">